.sala-container {
  text-align: center;
  color: white;
}

.videos {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.video-box {
  width: 45%;
  height: 300px;
  background: black;
  border-radius: 10px;
  object-fit: cover;
}
