<div class="sala-container">
  <h2>Sala: {{ salaId }}</h2>

  <div class="videos">
    <!-- Vídeo local -->
    <video #localVideo autoplay muted playsinline class="video-box"></video>

    <!-- Vídeo remoto só aparece quando outro usuário entra -->
    <video
      #remoteVideo
      *ngIf="hasRemoteUser"
      autoplay
      playsinline
      class="video-box"
    ></video>
  </div>

  <!-- Componente de Botões de Chat -->
  <app-chat-buttons
    (muteChanged)="onMuteChange($event)"
    (videoChanged)="onVideoChange($event)"
    (volumeChanged)="onVolumeChange($event)"
    (endCallClicked)="onEndCall()"
    (voiceSelectionChanged)="onVoiceSelectionChange($event)"
  >
  </app-chat-buttons>
</div>
